{% extends 'header.html' %}
{% load static %}
{% block content %}
  
  <main id="main">
    <!-- ======= Contact Section ======= -->
    <div id="contact" class="contact-area" style="background:rgb(230, 230, 230)">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>Change Password</h2>
                {% if msg %}
                  <h4 style="color:red">{{msg}}</h4>
                {% endif %}
              </div>
            </div>
          </div>
            
          </div>
          <div class="row">
            
          <!-- Start  contact -->
            <div class="col-md">
              <div class="form contact-form">
                
                <form action="{% url 'change_password' %}" method="post">
                {% csrf_token %}
                
                  <div class="form-group mt-6" style="margin:10px 40%">
                    <input type="password" class="form-control" name="old_password" id="subject" placeholder="Old Password" required>
                  </div>
                  <div class="form-group mt-6" style="margin:10px 40%">
                    <input type="password" class="form-control" name="new_password" id="subject" placeholder="New Password" required>
                  </div>
                  <div class="form-group mt-6" style="margin:10px 40%">
                    <input type="password" class="form-control" name="cnew_password" id="subject" placeholder="Confirm New Password" required>
                  </div>
                  <div class="text-center"><button type="submit" class="btn btn-primary">Change Password</button></div>
                  <div class="text-center"><a href="{% url 'forgot' %}"><button type="button" class="btn btn-link">Forgot Password?</button></a></div>
                
                </form>
              </div>
            </div>
            <!-- End Left contact -->
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

  </main><!-- End #main -->

</body>

</html>
{% endblock %}